.product-cards {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-cards h1 {
  font-size: 25px;
  color: white;
}
@media (max-width: 800px) {
  .product-cards h1 {
    color: black;
  }
}
.product-cards .product-card {
  margin: 10px 0;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  width: 80%;
}
.product-cards .product-card .container {
  padding: 20px 16px;
}
.product-cards .product-card .container h2 {
  font-size: 25px;
  font-family: Righteous;
}
.product-cards .product-card .container p {
  font-family: Raleway;
}
.review-cards {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review-cards h1 {
  font-size: 25px;
  color: white;
}
@media (max-width: 800px) {
  .review-cards h1 {
    color: black;
  }
}
.review-cards .product-card {
  margin: 10px 0;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  width: 80%;
}
.review-cards .product-card .container {
  padding: 20px 16px;
}
.review-cards .product-card .container h2 {
  font-size: 25px;
  font-family: Righteous;
}
.review-cards .product-card .container p {
  font-family: Raleway;
}
.review-cards .checked {
  background: -webkit-linear-gradient(90deg, #ffcc04, #ffae00, #ffe500);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.home-nav {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  background-color: rgba(84, 84, 84, 0.49);
}
@media (max-width: 500px) {
  .home-nav {
    flex-direction: column;
    align-items: center;
  }
}
.home-nav a {
  margin: 10px 5%;
  font-size: 1.25rem;
  font-family: Raleway;
  text-decoration: none;
  color: white;
}
.home-nav a:hover {
  text-shadow: 0px 0px 15px #FBCA6D;
  color: #FBCA6D;
  transition-duration: 0.35s;
}
@media (max-width: 800px) {
  .home-nav a {
    margin: 10px 20px;
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .home-nav a {
    margin: 0px 0px;
    padding: 10px 0px;
    width: 100%;
    font-size: 1rem;
    border: 1px solid lightgray;
    text-align: center;
  }
}
.site-nav {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.site-nav a {
  margin: 10px 50px;
  font-size: 1.25rem;
  font-family: Raleway;
  text-decoration: none;
  color: white;
}
.site-nav a:hover {
  text-shadow: 0px 0px 15px #FBCA6D;
  color: #FBCA6D;
  transition-duration: 0.35s;
}
@media (max-width: 800px) {
  .site-nav {
    flex-direction: column;
  }
}
.site-header {
  background: linear-gradient(315deg, #bd5a37 0%, #3b1b0f 74%);
  position: fixed;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 0px 0px;
  top: 0;
}
.site-header h2 {
  display: flex;
  align-items: center;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #ffffff;
  height: 100%;
}
@media (max-width: 800px) {
  .site-header {
    flex-direction: column;
  }
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20%;
}
.buttons-container .site-sign-up-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #3b1b0f, #bd5a37, #3b1b0f);
  border: 2px solid white;
  border-radius: 20px;
  font-size: 1.25rem;
  font-family: Raleway;
  padding: 15px;
  cursor: pointer;
}
.buttons-container .site-sign-up-button a {
  text-decoration: none;
  color: white;
}
.signbody {
  background: url("../Images/mohammad-metri-1oKxSKSOowE-unsplash.jpg") no-repeat center center fixed;
  background-size: cover;
}
@media (max-width: 800px) {
  .signbody {
    background: linear-gradient(90deg, #3b1b0f, #bd5a37, #3b1b0f);
  }
}
@media (max-width: 500px) {
  .signbody {
    background: linear-gradient(90deg, #3b1b0f, #bd5a37, #3b1b0f);
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 0% auto 2% auto;
}
header #mobile-header-pic {
  display: none;
}
@media (max-width: 800px) {
  header {
    margin: 3% auto;
  }
  header #mobile-header-pic {
    display: flex;
    width: 80%;
    height: 20%;
    object-fit: fill;
  }
}
@media (max-width: 500px) {
  header {
    margin: 3% auto;
  }
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 7.5rem;
  /* identical to box height */
  text-align: center;
  color: #E9E9D6;
  text-shadow: 0px 0px 15px #BD6F37;
  -webkit-text-stroke: 3px #BD5A37;
}
header h1 #flicker-s {
  color: rgba(255, 255, 255, 0);
  text-shadow: 0px 0px 60px #BD6F37;
  animation: flicker 1.5s infinite alternate;
}
@media (max-width: 800px) {
  header h1 {
    font-size: 5rem;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  header h1 {
    font-size: 3.125rem;
    display: flex;
    justify-content: center;
  }
}
.spacer {
  height: 40vh;
  margin-bottom: 5%;
}
@media (max-width: 800px) {
  .spacer {
    height: 100px;
  }
}
@media (max-width: 500px) {
  .spacer {
    height: 0px;
  }
}
.buttons {
  display: flex;
  justify-content: space-around;
  width: 70vw;
  margin: 0 auto;
}
.buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  height: 80px;
  width: 225px;
  font-size: 34px;
  border-radius: 15px;
}
@media (max-width: 800px) {
  .buttons .button {
    font-size: 20px;
    width: 140px;
    height: 60px;
  }
}
@media (max-width: 500px) {
  .buttons .button {
    font-size: 16px;
    width: 100px;
    height: 40px;
  }
}
.buttons a {
  text-decoration: none;
}
.buttons .filled {
  background: #FBCA6D;
  color: black;
  font-weight: bold;
}
.buttons .filled a:visited {
  color: black;
}
.buttons .filled:hover {
  box-shadow: 0px 0px 30px #FBCA6D;
  transition-duration: 0.35s;
  cursor: pointer;
}
.buttons .hollow {
  background-color: none;
  border: 3px solid #FBCA6D;
  color: #FBCA6D;
}
.buttons .hollow a:visited {
  color: #FBCA6D;
}
.buttons .hollow:hover {
  box-shadow: 0px 0px 30px #FBCA6D;
  transition-duration: 0.35s;
  cursor: pointer;
}
/* Animate neon flicker */
@keyframes flicker {
  0%,
  14%,
  21%,
  23%,
  25%,
  53%,
  58%,
  100% {
    color: #E9E9D6;
    text-shadow: 0 0 6rem #FFFFFF, 0 0 8rem #BD6F37, 0 0 10rem #BD6F37;
  }
  18%,
  24%,
  55% {
    text-shadow: none;
    color: rgba(255, 255, 255, 0);
  }
}
.learn {
  font-family: Raleway;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
@media (max-width: 800px) {
  #myVideo {
    display: none;
  }
}
.cards {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards h1 {
  font-size: 25px;
  color: white;
}
@media (max-width: 800px) {
  .cards h1 {
    color: black;
  }
}
.cards .product-card {
  margin: 10px 0;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  width: 80%;
}
.cards .product-card .container {
  padding: 20px 16px;
}
.cards .product-card .container h2 {
  font-size: 25px;
  font-family: Righteous;
}
.cards .product-card .container p {
  font-family: Raleway;
}
.cards .product-card:hover {
  transform: scale(1.2);
}
.reviews {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews h1 {
  font-size: 25px;
  color: white;
}
@media (max-width: 800px) {
  .reviews h1 {
    color: black;
  }
}
.reviews .product-card {
  margin: 10px 0;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  width: 80%;
}
.reviews .product-card .container {
  padding: 20px 16px;
}
.reviews .product-card .container h2 {
  font-size: 25px;
  font-family: Righteous;
}
.reviews .product-card .container p {
  font-family: Raleway;
}
.reviews .checked {
  background: -webkit-linear-gradient(90deg, #ffcc04, #ffae00, #ffe500);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.site-container {
  margin-top: 100px;
  margin-bottom: 5%;
}
.main-content {
  display: flex;
  width: 80%;
  height: 80%;
  margin: 50px auto;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .main-content {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
}
.main-content h3 {
  font-family: 'Raleway';
  font-size: 30px;
  margin-bottom: 20px;
}
.main-content p {
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 25px;
}
.main-content iframe {
  width: 45%;
  height: 400px;
}
@media (max-width: 800px) {
  .main-content iframe {
    width: 90%;
    margin-top: 5%;
  }
}
.main-content .info-card {
  width: 48%;
}
@media (max-width: 800px) {
  .main-content .info-card {
    width: 90%;
  }
}
.main-content .info-card address {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  margin: 20px 0px;
}
.main-content .info-card textarea {
  height: 100px;
  width: 95%;
}
.main-content .info-card input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f27144;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 20px;
  font-family: Raleway;
  padding: 8px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}
.main-content .info-card input:hover {
  background-position: right center;
  background-color: #FBCA6D;
}
.aboutbody {
  height: 100vh;
  background: url("../Images/MM.png") no-repeat center center fixed;
  background-color: darkgrey;
  background-blend-mode: screen;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.AboutTitle {
  background-color: #ff4e00;
  background-image: linear-gradient(90deg, #3b1b0f, #bd5a37, #3b1b0f);
  margin: auto;
  margin-top: 30px;
  width: 80%;
  height: 250px;
  padding: 30px;
  border: 8px ridge #3b1b0f;
  border-radius: 50px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 125px;
  align-items: center;
  text-align: center;
  color: black;
  text-shadow: 0px 0px 30px #696969;
  -webkit-text-stroke: 3px coral;
  margin-bottom: 30px;
}
@media (max-width: 800px) {
  .AboutTitle {
    border: none;
    background: none;
  }
}
@media (max-width: 500px) {
  .AboutTitle {
    width: 60%;
    margin: 2px;
    display: flex;
  }
}
@media (max-width: 800px) {
  .AboutTitle h2 {
    font-size: 80%;
  }
}
@media (max-width: 500px) {
  .AboutTitle h2 {
    font-size: 75px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .row {
    display: flex;
    justify-content: space-around;
  }
}
.column {
  display: flex;
  flex-flow: column wrap;
  margin: 20px;
  width: 15%;
  height: auto;
}
@media (max-width: 500px) {
  .column {
    display: flex;
    justify-content: center;
    width: 75%;
  }
}
.card {
  width: 110%;
  height: 100%;
  margin: 0 auto;
  border: 8px ridge #3b1b0f;
  display: flex;
  flex-direction: column;
}
.card img {
  width: 80%;
  height: auto;
}
.Acontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #9f9eac;
  background-size: cover;
  height: 100%;
  width: auto;
}
@media (max-width: 800px) {
  .Acontainer {
    display: flex;
    flex-wrap: nowrap;
  }
}
.Acontainer #cardname {
  text-align: center;
  color: #121212;
  font-family: Raleway;
  font-weight: bold;
  text-decoration: underline ;
}
.Acontainer #title2 {
  margin-top: 10px;
  text-decoration: underline;
  color: #121212;
  font-family: Raleway;
  font-weight: bold;
}
.Acontainer p {
  display: flex;
  justify-content: center;
  color: #121212;
  font-family: Raleway;
  margin: 8px;
  text-align: center;
}
@media (max-width: 800px) {
  .Acontainer p {
    font-size: 2%;
  }
}
.Acontainer #buttonp {
  display: flex;
  justify-content: center;
}
.button2 {
  width: 60%;
  margin: 10px;
  font-size: 1rem;
  height: auto;
  background-image: linear-gradient(90deg, #3b1b0f, #bd5a37, #3b1b0f);
  border-style: ridge;
  border-color: #121212;
  font-family: Righteous;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  color: #121212;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  border-radius: 25px;
}
.button2:hover {
  transform: scale(1.2);
  background-position: right center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 8px 10px 12px;
}
@media (max-width: 800px) {
  .button2 {
    font-size: 2%;
  }
}
.footer {
  background-color: #ff4e00;
  background-image: linear-gradient(90deg, #3b1b0f, #bd5a37, #3b1b0f);
  height: 3%;
  width: 100%;
  padding: 20px;
  position: fixed;
  bottom: 0;
}
.whitetext {
  font-size: 13px;
  color: white;
  margin: 0px;
  padding: 0px;
}
.whitelogo {
  color: white;
  font-size: 2em;
}
.whitelogo:hover {
  color: lightgray;
}
.footerflex {
  display: flex;
  justify-content: center;
}
.iconcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imagehover:hover {
  opacity: 0.7;
}
