
.aboutbody{
  margin-bottom: 40%;
  height: 100vh;
  width:90%;
  background: url("../Images/MM.png") no-repeat center center fixed;
  background-color: darkgrey;
  background-blend-mode: screen;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  

}
.AboutTitle{
   .titlex;

   margin-bottom: 30px;
   @media @tablet{
     border: none;
     background: none;
   }

   @media @phone{
     width: 60%;
     margin:2px;
    display:flex;
     
   }
  h2{

    @media @tablet{
      font-size: 80%;
    }

    @media @phone{
    font-size: 75px;
    }

  }
  
}
.row{

  display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

   @media @phone{
     display:flex;
     flex-direction: column;
     justify-content: center;

   }
   @media @tablet {

      display: flex;
      justify-content: space-around;
    }
   
  
}

.column {
display:flex;
 flex-flow: column wrap;
   margin: 20px;
    width: 15%;
    height: auto;
    @media @phone{
      display: flex;
      justify-content: center;
      width: 75%;
 
    }
 }
    .card {
    width: 110%;
    height: 100%;
    margin:0 auto;
    border: 8px ridge  #3b1b0f;
    display: flex;
    flex-direction: column;
    img{
    width: 80%;
    height: auto;
   
    }
  }

    .Acontainer {
      display:flex;
      flex-direction: column;
      justify-content: center;
      background-color:#9f9eac;
      background-size: cover;
      height: 100%;
      width: auto;

      @media @tablet {

        display: flex;
        flex-wrap: nowrap;
      
      }
      

    
    #cardname{
      text-align: center;
      color: @paragraph-color;
      font-family: Raleway;
      font-weight: bold;
      text-decoration: underline ;
    }
      
      #title2 {
        margin-top: 10px;
        text-decoration: underline;
        
        color: @paragraph-color;
        font-family: Raleway;
        font-weight: bold;
      }

       p{
      display:flex;
      justify-content: center;
      color:  @paragraph-color;
      font-family: Raleway;
      margin: 8px;
      text-align: center;

      @media @tablet {

       font-size: 2%;
      
      }
       }


      
 
  #buttonp{
    display:flex;
    justify-content: center;
    
    
    
     
  
    }
      }
        
          
            
          
          


  
  

  .button2 {
   .button2x(60%, 10px,1rem);
   @media @tablet {

    font-size: 2%;
  
  }
   
  
   

  }
   
  
