
.aboutbody{
  height: 100vh;
  background: url("../Images/MM.png") no-repeat center center fixed;
  background-color: darkgrey;
  background-blend-mode: screen;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}
.AboutTitle{
   .titlex;
  
  
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  
  
}
.column {
   margin: 30px;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    height: 100%;
    
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex: 0 1 24%;
    border: 8px ridge  #3b1b0f;
    height: 70%;
    width: 70%;
    min-width: 120px;
    padding-top: 0;
    
     
   img{
      display: block;
	  border: 0;
	  width: 100%;
    height: auto;
    
    }
  }
    .Acontainer {
    padding: 1.4em;
    background-color:#9f9eac;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        p{
      margin: 8px;
    
        #cardname{
      
      display:flex;
      justify-content: center;
      color: @paragraph-color;
      font-family: Raleway;
      font-weight: bold;
      text-decoration: underline ;
    
        #aboutpara{
      display:flex;
      justify-content: center;
      color:  @paragraph-color;
      font-family: Raleway;

    
    
  
    &::after, .row::after {
    content: "";
    clear: both;
    display: table;
 
  #buttonp{
    display:flex;
    justify-content: center;
  }
    }
      }
        }
          }
            }


  .title2 {
    margin-top: 1px;
    display:flex;
    justify-content: center;
    color: @paragraph-color;
    font-family: Raleway;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .button2 {
   .button2x(200px,10px,20px)
  }