
.aboutbody{
  height: 100vh;
  background: url("../Images/MM.png") no-repeat center center fixed;
  background-color: darkgrey;
  background-blend-mode: screen;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}
.AboutTitle{
   .titlex;
@media @tablet{
  width:80%;
}


   @media @phone{
     width: 120%;
     margin:20px;
     .flexwrapcenter;
   }
  h2{
@media @tablet{
  font-size: 105px;
}

    @media @phone{
    font-size: 90px;
    }
  }
  
}
.row{
  .flexwrapcenter;
   @media @phone{
    display: flex;
       flex-direction: column;
      
   }
   @media @tablet{
     display:flex;
     justify-content: space-between;
   }
  
}


.column {

    margin: 20px;
    width: 40%;
    margin-bottom: 16px;
    padding: 0 8px;
    height: 40%;
    @media @phone{
      width:65%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }


    
    
     }
    
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex: 0 1 24%;
    border: 8px ridge  #3b1b0f;
    height: 70%;
    width: 70%;
    min-width: 120px;
    @media @tablet{
      width: 125%;
    }
    @media @phone{

      width:200%;
      

    }
    
   }

    .Acontainer {
    padding: 1.4em;
    background-color:#9f9eac;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display:flex;
    flex-direction: column;
    align-items: center;

    
    #cardname{
      
      color: @paragraph-color;
      font-family: Raleway;
      font-weight: bold;
      text-decoration: underline ;
    }
      
      #title2 {
        margin-top: 10px;
        text-decoration: underline;
        text-align:center;
        color: @paragraph-color;
        font-family: Raleway;
        font-weight: bold;
      }
       #aboutpara{
      
      color:  @paragraph-color;
      font-family: Raleway;
      margin: 8px;
      text-align: center;
       }
}
      
  .button2 {
   .button2x(200px,10px,20px);
  
   

  }
   
  
