.footer {
  background-color:#ff4e00 ;
  background-image:linear-gradient(90deg, #3b1b0f, #bd5a37, #3b1b0f) ;
  height: 3%;
  width: 100%;
  padding: 20px;
  position: fixed;
  bottom: 0;
}
.whitetext {
  .font-setup(Raleway);
  font-size: 13px;
  color:white;
  margin: 0px;
  padding:0px;
}

.whitelogo {
  color:white;
  font-size:2em;
}
.whitelogo:hover {
  color:lightgray;
}

.footerflex{
  display: flex;
  justify-content: center;
}

.iconcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagehover{
  &:hover{
  opacity: 0.7;
  }
}