
.signbody{
    background: url("../Images/mohammad-metri-1oKxSKSOowE-unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
    @media @tablet {
        background: linear-gradient(90deg, #3b1b0f, #bd5a37, #3b1b0f);
    }
    @media @phone {
        background: linear-gradient(90deg, #3b1b0f, #bd5a37, #3b1b0f);
    }
}

header{
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0% auto 2% auto;
  @media @tablet {
        margin: 3% auto;
    }
    @media @phone {
        margin: 3% auto;
    }

  h1 {
    display: flex;
    justify-content: center;

    width: 100vw;
    height: fit-content;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 7.5rem;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #E9E9D6;
    text-shadow: 0px 0px 15px #BD6F37;
    -webkit-text-stroke: 3px #BD5A37;

    #flicker-s{
        color: rgba(255, 255, 255, 0);
        text-shadow: 0px 0px 60px #BD6F37;
        animation: flicker 1.5s infinite alternate;
    }
    @media @tablet {
        font-size: 90px;
        display: flex;
        justify-content: center;
    }
    @media @phone {
        font-size: 50px;
        display: flex;
        justify-content: center;
    }
  }
}

.spacer{
    height: 40vh;
    margin-bottom: 5%;

    @media @tablet {
        height: 100px;
    }
    @media @phone {
        height: 0px;
    }
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 70vw;
    margin: 0 auto;

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 225px;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 34px;
        
        border-radius: 15px;
        @media @tablet {
        font-size: 20px;
        width: 140px;
        height: 60px;
        }
        @media @phone {
        font-size: 16px;
        width: 100px;
        height: 40px;
        }
    }
    a{
        text-decoration: none;
        
    }
    .filled{
        background: @button-bg;
        color: black;
        font-weight: bold;
        a{
            &:visited{
            color: black;
        }
    }
        &:hover{
            box-shadow: 0px 0px 30px @nav-hover;
            transition-duration: .35s;
            cursor: pointer;
    }
}
    .hollow{
        background-color: none;
        border: 3px solid @button-bg;
        color: @button-bg;
        a{
            &:visited{
            color: @button-bg;
        }
    }
        &:hover{
            box-shadow: 0px 0px 30px @nav-hover;
            transition-duration: .35s;
            cursor: pointer;
         }
    }
}

/* Animate neon flicker */
@keyframes flicker {
    
    0%, 14%, 21%, 23%, 25%, 53%, 58%, 100% {
        color: #E9E9D6;
        text-shadow:
            // -0.2rem -0.2rem 1rem #fff, Use these lines if we need more glow.
            // 0.2rem 0.2rem 1rem #fff,
            // 0 0 2rem #BD6F37,
            // 0 0 4rem #BD6F37,
            0 0 6rem #FFFFFF,
            0 0 8rem #BD6F37,
            0 0 10rem #BD6F37;   
    }
    
    18%, 24%, 55% {        
        text-shadow: none;
        color: rgba(255, 255, 255, 0)
        // box-shadow: none;
    }    
}