.learn {
  font-family: Raleway;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  @media @tablet {
    display: none;
  }
}

.cards {
  .product-cards();
  .product-card:hover {
    transform: scale(1.2);
  }
}

.reviews {
  .review-cards();
}
