.learn {
  font-family: Raleway;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.cards {
  .product-cards();
  .product-card:hover {
    transform: scale(1.2);
  }
}

.reviews {
  h1 {
    font-size: 25px;
    color: white;
  }
  .review-cards();
}
