.home-nav{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background-color: @nav-bg;
    a{
        margin: 10px 100px;
        font-size: 20px;
        font-family: Raleway;
        text-decoration: none;
        color: @nav-font-color;
        &:hover{
            text-shadow: 0px 0px 15px @text-glow;
            color: @nav-hover;
            transition-duration: .35s;
        }
    }
    
}