.home-nav {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  background-color: @nav-bg;
  @media @phone {
        flex-direction: column;
        align-items: center;
    }
  a {
    margin: 10px 5%;
    font-size: 1.25rem;
    font-family: Raleway;
    text-decoration: none;
    color: @nav-font-color;
    &:hover {
      text-shadow: 0px 0px 15px @text-glow;
      color: @nav-hover;
      transition-duration: 0.35s;
    }
    @media @tablet {
        margin: 10px 20px;
        font-size: 1rem;
    }
    @media @phone {
        margin: 0px 0px;
        padding: 10px 0px;
        width: 100%;
        font-size: 1rem;
        border: 1px solid lightgray;
        text-align: center;
    }
  }
}
.site-nav {
  display: flex;
  justify-content: center;
  align-items: baseline;
  a {
    margin: 10px 50px;
    font-size: 1.25rem;
    font-family: Raleway;
    text-decoration: none;
    color: @nav-font-color;
    &:hover {
      text-shadow: 0px 0px 15px @text-glow;
      color: @nav-hover;
      transition-duration: 0.35s;
    }
  }
}

.site-header {
  background: linear-gradient(315deg, #bd5a37 0%, #3b1b0f 74%);
  position: fixed;
  height: 75px;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 0px;
  margin: 0px 0px;
  top: 0;

  h2 {
    display: flex;
    align-items: center;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #ffffff;
    height: 100%;
  }
}

.site-sign-up-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #3b1b0f, #bd5a37, #3b1b0f);
  border: 2px solid white;
  border-radius: 20px;
  font-size: 1.25rem;
  font-family: Raleway;
  padding: 15px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;

  &:hover {
    background-position: right center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 8px 0px 12px;
    background-color: #bd5a37;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
