// Variables

// Color variables:
@nav-bg: rgba(84, 84, 84, 0.49);
@nav-font-color: white;
@nav-hover: #fbca6d;
@text-glow: #fbca6d;
@button-bg: #fbca6d;
@paragraph-color: #121212;
@star-gradient1: #ffcc04;
@star-gradient2: #ffae00;
@star-gradient3: #ffe500;

// Mobile variables
@phone: ~'(max-width: 500px)';
@tablet: ~'(max-width: 800px)';
